/MPLABXProjects/HW3.X/dist/
/MPLABXProjects/HW3.X/build/
/MPLABXProjects/HW5.X/build/
/MPLABXProjects/HW5.X/dist/
/MPLABXProjects/HW7.X/build/
/MPLABXProjects/HW7.X/dist/
/MPLABXProjects/HW6.X/build/
/MPLABXProjects/HW6.X/dist/
/MPLABXProjects/HW8.X/dist/
/MPLABXProjects/HW8.X/build/
/MPLABXProjects/HW10.X/build/
/MPLABXProjects/HW10.X/dist/
/MPLABXProjects/HW15.X/build/
/MPLABXProjects/HW15.X/dist/